{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container col-6 mt-1 mx-auto">
        {{ form_start(categoryForm) }}
        {{ form_end(categoryForm) }}
    </div>
{% endblock %}
