{% extends 'base.html.twig' %}

{% block title %}Animal RIE{% endblock %}

{% block body %}
    <div class="article">
        <tr>
            <td>lol</td>
            <td>lol</td>
            <td>lol</td>
        </tr>
    </div>
  {% endblock %}
