{% extends 'base.html.twig' %}

{% block title %}La Nimes'Alerie !{% endblock %}

{% block body %}
    <div class="article">
        <tr>
            <td>Page d'accueil</td>
        </tr>
    </div>
  {% endblock %}
