{% extends 'base.html.twig' %}

{% block title %}La Nimes'Alerie !{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row text-center">
            <div class="col-4 d-flex flex-column">
                <h2>Premier article</h2>
                <article>Bonjour ceci est le premier article.</article>
            </div>
            <div class="col-4 d-flex flex-column">
                <h2>Second article</h2>
                <article>Le deuxième article s'inscrira ici.</article>
            </div>
            <div class="col-4 d-flex flex-column">
                <h2>Troisième article</h2>
                <article>Ici nous avons le troisième article.</article>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row text-center">
            <div class="col-4 d-flex flex-column">
                <h2>Premier article</h2>
                <article>Bonjour ceci est le premier article.</article>
            </div>
            <div class="col-4 d-flex flex-column">
                <h2>Second article</h2>
                <article>Le deuxième article s'inscrira ici.</article>
            </div>
            <div class="col-4  d-flex flex-column">
                <h2>Troisième article</h2>
                <article>Ici nous avons le troisième article.</article>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row text-center">
            <div class="col-4 d-flex flex-column">
                <h2>Premier article</h2>
                <article>Bonjour ceci est le premier article.</article>
            </div>
            <div class="col-4 d-flex flex-column">
                <h2>Second article</h2>
                <article>Le deuxième article s'inscrira ici.</article>
            </div>
            <div class="col-4 d-flex flex-column">
                <h2>Troisième article</h2>
                <article>Ici nous avons le troisième article.</article>
            </div>
        </div>
    </div>
  {% endblock %}

{#TODO : ICI NOUS POUVONS FAIRE UN RAPPEL DE PRODUIT ET D'ARTICLES. #}
{#SE BASER SUR STEAM-EXO#}
{#ICI SE BASER SUR HOME CONTROLLER DE STEAMISH POUR RECUPERER QUELQUES DONNES PAR REQUETE DQL ?#}
