{% extends 'base.html.twig' %}

{% block title %}La Nimes'Alerie !{% endblock %}

{% block body %}
    <div class="container-fluid">
       <div class="row text-center ms-5">
           <div class="col-4 mt-5 d-flex flex-column">
               <h2>Premier article</h2>
               <article>Bonjour ceci est le premier article pas mal non ? C'est Français.</article>
           </div>
           <div class="col-4 mt-5 d-flex flex-column">
               <h2>Second article</h2>
               <article>Le deuxième article s'inscrira ici.</article>
           </div>
           <div class="col-4 mt-5 d-flex flex-column">
               <h2>Troisième article</h2>
               <article>Ici nous avons le troisième article</article>
           </div>
       </div>
    </div>
  {% endblock %}

{#TODO : ICI NOUS POUVONS FAIRE UN RAPPEL DE PRODUIT ET D'ARTICLES. #}
{#INTEGRER UN FOOTER AVEC LES MOYENS DE PAIEMENT ? #}
{#SE BASER SUR STEAM-EXO#}
