{% extends 'base.html.twig' %}

{% block title %}La boutique de l'équipe !{% endblock %}

{% block body %}
    <div class="container mt-4">
        <p class="text-center text-uppercase fw-bold">En construction !</p>
        <p>La boutique est ici, ouverture prochainement !</p>
    </div>
{% endblock %}

{#ICI FAIRE UNE BOUCLE AFFICHANT LES PRODUITS EN BASE DE DONNEES, IL FAUDRA LEUR DONNER DES CATEGORIES = SE BASER SUR L'EXAMEN SYMFONY AVEC FORUM#}
{#FAIRE LA GESTION DU PANIER ? CECI EST LA PAGE BOUTIQUE#}
{#CRUD POSSIBLE QUE POUR LE ROLE_ADMIN#}
