/* Add a gray background color with some padding */
body {
  padding: 20px;
  background: #f1f1f1;
  border-radius: 10px;
}

.navbar-color {
  background-color: #fff6f0;
  border-radius: 0 0 10px 10px;
}

.footer-color {
  background-color: #fff6f0;
  border-radius: 10px;
}

.logo-color {
  color: #4CA7A7;
}

.search-style {
  border-style: none;
}

.btn-custom-nav {
  background-color: #ffffff;
  width: 100%;
  margin: 0 0 0 20px;
  border-radius: 10px;
}

.btn-custom-nav:hover {
  background-color: #ffe135;
}

.btn-custom-nav img {
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
}

.nav-fontsize {
  font-size: 75%;
}

.nav-icon-fontsize {
  font-size: 75%;
}

.h1-foot {
  font-size: 100px;
}

footer h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
  margin-right: 0.75rem;
}

.game {
  background-image: url("/assets/images/fond.jpg");
  border-radius: 10px;
}

.welcome-bg {
  background-image: url("/assets/images/bandeau_planet.png");
}


//body, html{
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
//}

canvas {
  display: block;
  margin: auto;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
}

//Earth base CSS
* {
  box-sizing: border-box;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

//Button back to top
#myBtn {
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0984e3;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #ffe135;
}

.cat {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.cat:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
