.navbar-color {
  background-color: #fff6f0;
}

.logo-color {
  color: #4CA7A7;
}

.search-style {
  border-style: none;
}

.btn-custom-nav {
  background-color: #ffffff;
  width: 100%;
  margin: 0 10px;
  border-radius: 10px;
}

.btn-custom-nav img {
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
}
