/* Add a gray background color with some padding */
body {
  padding: 20px;
  background: #f1f1f1;
  border-radius: 10px;
}

.navbar-color {
  background-color: #fff6f0;
  border-radius: 0 0 10px 10px;
}

.body-color {
  background-color: #74b9ff;
  border-radius: 10px;
}

.footer-color {
  background-color: #fff6f0;
  border-radius: 10px;
}

.logo-color {
  color: #4CA7A7;
}

.search-style {
  border-style: none;
}

.btn-custom-nav {
  background-color: #ffffff;
  width: 100%;
  margin: 0 0 0 20px;
  border-radius: 10px;
}

.btn-custom-nav:hover {
  background-color: #ffe135;
}

.btn-custom-nav img {
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
}

.btn-custom-mob {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
}

.btn-custom-mob:hover {
  background-color: #ffe135;
}

.btn-custom-mob img {
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
}

.nav-fontsize {
  font-size: 75%;
}

.nav-icon-fontsize {
  font-size: 75%;
}

.nav-mob-fontsize {
  font-size: 70%;
}

.nav-mob-icon-fontsize {
  font-size: 70%;
}

.h1-foot {
  font-size: 100px;
}

footer h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.game {
  background-image: url("/assets/images/fond.jpg");
  border-radius: 10px;
}

.welcome-bg {
  background-image: url("/assets/images/bandeau_planet.png");
}

.block-nav {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
}
.block-nav:hover {
  background-color: #ffe135;
}

//body, html{
//  width: 100%;
//  height: 100%;
//  overflow: hidden;
//}

canvas {
  display: block;
  margin: auto;
  //top: 0;
  //left: 0;
  //right: 0;
  //bottom: 0;

  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
}

//Earth base CSS
* {
  box-sizing: border-box;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.zoom:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

//Button back to top
#myBtn {
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #0984e3;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #ff7675;
}

#previousBtn {
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 25px;
  right: 80px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e17055;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#previousBtn:hover {
  background-color: #6c5ce7;
}

#darkBtn {
  display: none;
  position: fixed;
  height: 40px;
  width: 40px;
  bottom: 25px;
  right: 135px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #636e72;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#darkBtn:hover {
  background-color: #fdcb6e;
}

.cat {
  display: block;
  width: 100%;
  height: 100%;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.cat:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

//
//[data-games-search] {
//  width: 420px;
//}

.autocomplete {
  background: white;
  z-index: 1000;
  font-size: 18px;
}

.autocomplete * {
  font: inherit;
}

.autocomplete > div {
  padding: 0 4px;
}

.autocomplete .form-control {
  background: white;
}

.autocomplete-item {
  color: $background-title;
  &:hover,
  > div.selected {
    background: $background-title;
    color: $background-lighter;
    cursor: pointer;
  }
}
.dark-mode {
  background-color: black;
  filter: invert(100%);

  img {
    filter: invert(0%);
  }
}
  //--white: #353b3f;
  //--white-rgb: 53, 59, 63;
  //--dark: #FFFFFF;
  //--dark-dark: #353b3f;
  //--background: #272D31;
  //--title: #FFFFFF;
  //--text: #bfcaca;
  //--prompt: #879390;
  //--border: hsla(0, 0%, 100%, 0.12);
  //--element: hsla(0, 0%, 0%, 0.1);
  //--accessibility: hsla(0, 0%, 0%, 0.2);
  //--secondary-100: #353b3f;
  //--secondary-200: #272D31;
  //--secondary-300: #1f2427;

//{
//  background-color: rgba(lightgreen, 0.4);
//  color: darkgreen;
//button {
//  box-shadow: lightgreen 3px 3px 7px;
//  color: darkgreen;
//  &:active {
//    box-shadow: lightgreen 0 0 5px;
//  }
//}
//}



