{% extends 'base.html.twig' %}

{% block title %}Hello EarthBaseController!{% endblock %}

{% block body %}
 <div class="container mt-4">
     <p class="text-center text-uppercase fw-bold">En construction !</p>
     <p>Base terrestre avec forum de communication ici !</p>
 </div>
{% endblock %}
