<footer class="mt-5 py-4 footer-color">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5 class="nav-fontsize">Addresse</h5>
                <p class="nav-fontsize">
                    Human Booster : 2 rue de l'éminée, 63000 Clermont-Ferrand<br>
                    Téléphone : 04 73 24 93 11 <br>
                    Site web :
                    <a class="text-black" href="https://humanbooster.com/" target="_blank">www.humanbooster.com
                    </a>
                </p>
            </div>
            {#                <img src="{{ asset('build/images/index.webp') }}" alt="delivery_logo" style="height:80px; width:80px">#}
            <div class="col-6 text-end">
                <img class="py-2 rounded-3 footer-color w-50" src="{{ asset('build/images/humanbooster.jpg') }}"
                     alt="humanboosterlogo">
            </div>
            <div class="row">
                <h5 class="text-center nav-fontsize">Les moyens de paiements</h5>
                <div class="col-12 justify-content-between d-flex">
                    <div class="nav-item py-2">
                        <i class="fa-solid fa-credit-card fa-2x"></i>
                    </div>
                    <div class="nav-item py-2">
                        <i class="fa-brands fa-paypal fa-2x"></i>
                    </div>
                    <div class="nav-item py-2">
                        <i class="fa-brands fa-google-pay fa-2x"></i>
                    </div>
                    <div class="nav-item py-2">
                        <i class="fab fa-apple-pay fa-2x"></i>
                    </div>
                    <div class="nav-item py-2">
                        <i class="fa-brands fa-amazon-pay fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


