{% extends 'base.html.twig' %}

{% block title %}Le contact pour la Nimes'team !{% endblock %}

{% block body %}
    <div class="container p-0 w-75">

        <div class="row">
            <div class="col-xl-6 mt-4 p-0">
                <h3 class="text-center mb-3 font-bold-normal">Contactez nous !</h3>
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Votre adresse email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="alfred@dupont.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Sujet</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Écrivez votre message</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Fichier à joindre</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        <br>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Envoyez</button>
                </form>
            </div>

            {% if app.user %}
                <div class="card body-color text-center col-xl-6 mt-4">
                    <h4 class="fw-bold p-0">Bienvenue dans l'espace contact de la Nimes'Team.</h4>
                    <p class="mt-4">Dans cette page vous pouvez nous envoyer un message, si vous avez une question.</p>
                    <p>Une réponse vous sera apportée rapidement, nous nous engageons à vous répondre sous 24 heures
                        !</p>
                    <p>Nous vous invitons à rejoindre notre équipe en vous créant un compte où en vous connectant dès à
                        présent !</p>
                    <p>Vous souhaitez modifier vos informations ? <br> C'est par ici : </p>
                    <a class="btn btn-outline-primary my-2" href="{{ path('user_edit', {'id': app.user.id}) }}">
                        Éditer votre compte </a>
                    <a class="btn btn-outline-danger my-2" href="{{ path('user_delete', {'id': app.user.id}) }}"
                       onclick="return confirm('ATTENTION ! Êtes-vous sûr(e) de vouloir continuer ?')">
                        Effacer votre compte </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-danger my-2" href="{{ path('user_index') }}"
                       onclick="return confirm('ATTENTION ! Vous allez accéder à la page administrateur.')">
                        ADMINISTRATEUR </a>
                    {% endif %}
                </div>
            {% else %}
                <div class="card body-color text-center col-xl-6 mt-2">
                    <h4 class="mt-2 fw-bold">Bienvenue dans l'espace contact de la Nimes'Team.</h4>
                    <p class="mt-4">Dans cette page vous pouvez nous envoyer un message, si vous avez une question.</p>
                    <p>Une réponse vous sera apportée rapidement, nous nous engageons à vous répondre sous 24 heures
                        !</p>
                    <p>Nous vous invitons à rejoindre notre équipe en vous créant un compte où vous connectant dès à
                        présent !</p>
                    <p>Vous souhaitez modifier vos informations ? <br> Connectez-vous ici : </p>
                    <a class="btn btn-outline-primary my-2" href="{{ path('app_login') }}">
                        Connexion </a>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}
