<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('scripts') }}
    {% endblock %}
</head>
<body>
<div>
    <button onclick="topFunction()" id="myBtn" title="Revenir en haut"><i class="fa-solid fa-arrow-up"></i></button>
</div>
<div>
    <button class="previousBtn" onclick="history.go(-1);" id="previousBtn" title="Précédent"><i
                class="fa-solid fa-circle-arrow-left"></i></button>
</div>
<div>
    <button class="btn btn-primary" onclick="darkMode()" id="darkBtn"><i class="fas fa-moon"></i></button>
</div>
{% block header %}
    {% include 'common/partials/header.html.twig' %}
{% endblock %}

{% block body %}

{% endblock %}

{% block footer %}
    {% include 'common/partials/footer.html.twig' %}
{% endblock %}
</body>
</html>
<script>
    //Get the button
    const mybutton = document.getElementById("myBtn");
    const previousbutton = document.getElementById("previousBtn");
    const dark = document.getElementById("darkBtn");


    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
            previousbutton.style.display = "block";
            dark.style.display = "block";
        } else {
            mybutton.style.display = "none";
            previousbutton.style.display = "none";
            dark.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    function darkMode() {
        let element = document.body;
        element.classList.toggle("dark-mode");
    }
</script>
