{% extends 'base.html.twig' %}

{% block title %}Hello SpaceBaseController!{% endblock %}

{% block body %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="container">
        <div class="header mt-4">
            <h3 class="fw-bold text-center">Bienvenue dans le tout nouveau programme spatial !</h3>
        </div>

        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <h2>Projet de voyage dans l'espace</h2>
                    <h5>Title description, Dec 7, 2017</h5>
                    <div class="fakeimg" style="height:200px;">Image</div>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud
                        exercitation ullamco.</p>
                </div>
                <div class="card">
                    <h2>TITLE HEADING</h2>
                    <h5>Title description, Sep 2, 2017</h5>
                    <div class="fakeimg" style="height:200px;">Image</div>
                    <p>Some text..</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud
                        exercitation ullamco.</p>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card align-items-center">
                    <h2 class="text-center fw-bold">Prochainement</h2>
                    <img src="{{ asset('build/images/travel_logo.jpg') }}" style="height:150px; width:200px"
                         alt="image">
                    <p class="text-center">Vous en avez assez ? Vous en avez assez de ces trois destinations ?! On va
                        vous
                        en rajouter !</p>
                </div>
                <div class="card">
                    <h3 class="text-center fw-bold">Prochains voyages</h3>
                    <span><img src="{{ asset('build/images/moon_logo.webp') }}" style="height:50px; width:50px"
                               alt="image">Lune</span>
                    <br>
                    <span><img src="{{ asset('build/images/mars_icon.png') }}" style="height:50px; width:50px"
                               alt="image">Mars</span>
                    <br>
                    <span><img src="{{ asset('build/images/saturn_logo.png') }}" style="height:50px; width:50px"
                               alt="image">Saturne</span>
                </div>
                <div class="card">
                    <h3 class="text-center fw-bold">Follow Me</h3>
                    <p>Some text..</p>
                </div>
                <div class="card">
                    <h3 class="text-center fw-bold">Follow Me</h3>
                    <p>Some text..</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
